.navbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.navbar-brand {
  float: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  font-size: 24px;
  font-family: 'Armata', sans-serif; }

#LoL {
  color: #AD9262;
  font-size: 36px; }

.navbar .navbar-brand {
  color: #175CC4; }

.navbar .navbar-brand:hover, .navbar .navbar-brand:active, .navbar .navbar-brand:focus {
  color: #175CC4; }

.navbar .navbar-brand:visited {
  color: #175CC4; }

.pane {
  background-color: #F8F8F8;
  margin: 2% 1% 2% 1%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

body {
  background-color: #D5D7E2; }

.player-search {
  margin-top: 3%; }

.search-box {
  border-radius: 0px; }

.btn-default {
  border-radius: 0px; }
